/* Setting fixed sizes for inputs and outputs */
:root{
    --text-size: 1.35rem;
    --width:100%;
    --height:3rem;
    --padding: 0.5em 1em;
    --margin:0em;  
}
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    outline:1px solid rgb(91, 223, 91);
}

body{
    background: #efeded;
    min-height: 100vh;
}

header{
    position:relative;
    top:1rem;
    margin:0 auto;
    padding:10px 20px;
    width:60vw;
    background-color:rgba(36, 181, 218, 0.958);
    color:white;
    border-radius:40px;
    text-align:center;
}
h1{
    font-size:2em;
    font-family:'Courier New', Courier, monospace;
}

/* 
ORIGINAL CHANGES :
.container{
    position:relative;
    margin-top:10vh;
     display:flex;
    justify-content: space-evenly;
    align-items: flex-end; 
    display:grid;
    place-items:center;
    grid-template-columns: repeat(3, 1fr);
    height:300px;
    max-width:90vw;
    margin-inline: auto;
    background:red;
    
}
.input1,.input2{
    height:3rem;


}
.input1>*, .input2>*{
    font-size: var( --text-size);
    width:var(--width);
    padding:var(--padding);
     display:flex;
    justify-content: flex-start; 
     display:block; 
     margin-block:15px; 

}
select{
     padding:var(--padding) ;
     height: var(--height);
     width:var(--width);
     border:none;
     background-color:rgba(68, 66, 66, 0.9) ;
     color:whitesmoke;  
}
.input1 #userInput{
    padding:0.5em;
    font-size:var(--text-size);
    width: var(--width);
    height: var(--height);
    border:none;
    outline:0px solid transparent;
    transition:outline, box-shadow 0.25s ease;
    background-color:rgb(188, 136, 239);
}
.input1 #userInput:focus{
    box-shadow: 2px 3px 10px 0px black;
    outline:3px solid black;
}
.input2 #ans{
    padding:0.5em;
    font-size:var(--text-size);
    max-width: var(--width);
    min-height: var(--height);
    background-color:  rgba(38, 235, 38, 0.9);
}
hr{
    border: none;
    background: black;
    width: 1px;
    height:60%;
} */

#btn{
    position:relative;
    left:50%;
    transform: translateX(-50%);
    padding:0.5em 1.5em;
    font-size:var( --text-size);
    border:none;
    color:white;
    background-color:rgba(235, 90, 90, 0.9);
    outline: 2px solid white;
    outline-offset:-5px;
    transition:outline-offset 0.25s ease;
    text-transform:uppercase;
    cursor:pointer;
}
#btn:hover{
    outline-offset:-7px;
} 

/* Responsive design for mobile layouts */

@media(orientation:portrait) or (max-width:590px) {
    .container{
        flex-direction: row;
        display:block;
        --width:60%;
        
    }
    hr{
        height:3px;
        width:80%;
    } 
}