/* Setting fixed sizes for inputs and outputs */
:root {
    --text-size: 1.5rem;
    --width: 70%;
    --height: 2.5em;
    --padding: 0.25em 0.5em;
    --margin: 0em;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline:1px solid rgb(91, 223, 91); */
}

body {
    background: #efeded;
    min-height: 100vh;
}

.mode span {
    margin: 0px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    padding: 0.5em 0.5em;
    color: #ffffff;
    background: #000000;
    border-radius: 50%;
}

header {
    position: relative;
    top: 1rem;
    margin: 0 auto;
    padding: 10px 20px;
    width: 60vw;
    background-color: rgba(36, 181, 218, 0.958);
    color: white;
    border-radius: 50px;
    text-align: center;
    transition:outline-offset 0.5s ease;
    outline-offset:0px;
}
header:hover{
    outline:3px solid white;
    outline-offset: -10px;
}
h1 {
    font-size: 2rem;
    font-family: cera-round-pro,
        "Helvetica Neue", Ahial,
        monospace;
}

.container {
    position:relative;
    margin:5vh auto;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    row-gap:80px
}

.box {
    height:40vh;
    width:60vw ;
}

.container .line{

    height: 100px;
    width: 3px;
    background-color: #000000;
    
}

.box > * {
    margin-block: 2.5vh;
    display: block;
    font-size: 1.25rem;
}

#userInput,#userOutput,
#outputType,#inputType {
    display: inline;
    padding: var(--padding);
    width: var(--width);
    height: var(--height);
}
#userInput{
    background-color:rgb(188, 136, 239);
}
#userInput, #userOutput{
    border:none;
    outline:0px solid transparent;
    transition:outline, box-shadow 0.25s ease;
    font-weight:700;
}

#userInput:focus, #userOutput:focus{
    box-shadow: 2px 3px 10px 0px black;
    outline:3px solid black;
}
#userInput::placeholder{
    color:black;
}

#userOutput{
    border:none;
    border:none;
    background-color: rgba(107, 224, 107, 0.9);
}
#btn{
    position: relative;
    padding: 0.6em 1.75em;
    color: white;
    font-size: var(--text-size);
    border: none;
    background-color: rgba(162, 185, 11, 0.9);
    border-radius:30px;
    outline: 2px solid white;
    outline-offset: -5px;
    transition: outline-offset 0.25s ease;
    text-transform: uppercase;
    cursor: pointer;
}

#btn:hover {
    outline-offset: -7px;
}

/* Responsiveness for mobile layouts */ 
 @media (max-width:570px) {
    .container {
        flex-direction: row;
        align-items: center;
        display: block;
        --width: 60vw;
    }
    
    hr {
        height: 3px;
        width: 80%;
    }
} 